.debug {background-color: rgba(255,0,0,0.3) !important; border: 1px solid red; }

html, body {background-color:#FFF;}

/* NAMESPACE + BASE ELEMENTS */
.f-comp {
  font-family: 'Open Sans', sans-serif; font-size: 14px;
  color: #29292A;
}
.f-comp h1,
.f-comp label {font-family: 'Montserrat', sans-serif;}
.f-comp h1 {font-size:30px;}
.f-comp label {font-size: 15px; font-weight: 700;}

.f-comp a {color: #EE6C2D;}
.f-comp a:hover {color: #fa842d;}


/* UTILITIES */
.f-comp .mb-20   {margin-bottom: 20px;}
.f-comp .mb-40   {margin-bottom: 40px;}
.f-comp .f-cover {height: calc(100vh);}
.f-comp .d-flex  {display:flex;}
.f-comp .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}


/* FORMS */
.f-form-wrap {
  padding: 120px;
}
.f-comp label .f-comp-label-lite {
  font-family: 'Open Sans', sans-serif;;
  font-weight: 400;
}
.f-comp .text-gray {color:#84898E;}
.f-comp .text-white {color:#FFF;}
.f-comp .slds-button_brand {
  display: block;
  color: #FFF;
  background-color: #EE6C2D;
  border-color: #EE6C2D;
  font-size: 16px;
  padding:12px;
  font-weight: 700;
}
.f-comp .slds-button_brand:hover {
  color: #fff;
  background-color: #fa842d;
  border-color: #fa842d;
}
.f-comp .slds-input {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  padding-top: 4px;
  padding-bottom: 4px;
}
.f-comp .slds-input:focus, .f-comp .slds-input:active {
  border-color: #EE6C2D;
  box-shadow: 0px 0px 0px 4px rgba(241, 111, 48, 0.2);
  -webkit-box-shadow: 0px 0px 0px 4px rgba(241, 111, 48, 0.2);
  -moz-box-shadow: 0px 0px 0px 4px rgba(241, 111, 48, 0.2);
}
.f-comp .check-inline {
  flex-basis: 20px;
}


/* MESSAGES */
.f-comp .f-cover-signup {
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.f-comp .h1-botm {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 46px;
  line-height: 50px;
  letter-spacing: -2px;
  color: #FFF;
  padding: 60px;
}


/* RESPONSIVE ELEMENTS */
@media only screen and (max-width: 1126px) {
  .f-comp .f-cover {
    display:none;
    height: auto;
  }
  .f-comp .f-form-wrap {
    padding: 20px;
  }
  .f-comp h1 {
    font-size: 26px;
  }
}