.navbar {
    padding-bottom: 10px;
    background-color: var(--lwc-cardBackgroundColor);
}

nav {
    min-height: 35px;
}

.dropdown-content {
    display: block;
    position: relative;
    left: auto;
    background-color: #FFFFFF;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  p {
    font-size:16px; 
     float :left ;
  }